@use './design' as *;

.card {
    padding: $space-400;
    background-color: $secondary-bg-color;

    display: flex;
    flex-direction: column;
    gap: $space-300;
}

.card__info {
    display: flex;
    flex-direction: column;
    gap: $space-300;
}

.card__info-heading {
    @include text-preset-4;
    text-transform: uppercase;
}