@use './design' as *;

//GENERAL
.card {
    padding: $space-400;
    background-color: $secondary-bg-color;

    display: flex;
    flex-direction: column;
    gap: $space-300;
}

//INFO
.card__info {
    display: flex;
    flex-direction: column;
    gap: $space-300;
}

.card__info-heading {
    @include text-preset-4;
    text-transform: uppercase;
}

.card__info-title {
    @include text-preset-1;
    color: $secondary-color;
}

.card__info-description {
    @include text-preset-3;
}

//PRICE


//BUTTON