@use './design' as *;

//GENERAL
.card {
    padding: $space-400;
    background-color: $secondary-bg-color;

    display: flex;
    flex-direction: column;
    gap: $space-300;
}

//INFO
.card__info {
    display: flex;
    flex-direction: column;
    gap: $space-300;

    &-heading {
        @include text-preset-4;
        text-transform: uppercase;
    }

    &-title {
        @include text-preset-1;
        color: $secondary-color;
    }

    &-description {
        @include text-preset-3;
    }
}

//PRICE
.card__price {
    display: flex;
    align-items: center;
    gap: $space-200;

    &--current {
        @include text-preset-1;
        color: $highlight-color;
    }

    &--old {
        @include text-preset-5;
        text-decoration: line-through;
    }
}

//BUTTON

.card__button {
    @include text-preset-2;
    color: $secondary-bg-color;
    background-color: $highlight-color;
}