@use './variables';

// font-family: "Montserrat", sans-serif; 500,700
// font-family: "Fraunces", serif; 700

//GLOBALT TYPOGRAPHY VARIABLES
$font-size-xl: 2rem;       //32px
$font-size-lg: 0.875rem;   //14px
$font-size-md: 0.8125rem;  //13px
$font-size-sm: 0.75rem;    //12px