@use './design' as *;

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $space-100 0;

    @media (min-width: 31.25rem) {
        flex-direction: row;
        gap: $space-100;
    }

    & p {
        display: flex;
        gap: $space-50; 
    }

    & a {
        display: block;
        color: $secondary-color;
        transition: all 0.3s ease;
        &:hover,
        &:focus {
            color: $highlight-color;
            transform: translateY(-3px);
        }
    }
}