@use './design' as *;

.main__header-img {
    display: block;

    width: 93.33vw;
    height: 21.375rem;

    object-fit: cover;

    @media (min-width: $breakpoint-tablet) {
        width: clamp(12rem, 39.0625vw, 18.75rem);
        height: 28.5rem;
    } 
}