//COLORS
$primary-color: #6C7289; //grey
$secondary-color: #1C232B; //black
$highlight-color: #3D8168; //green-500
$hover-locor: #1A4032; //green-700
$primary-bg-color: #F2EAE2; //cream
$secondary-bg-color: #fff; //white